body{
    display: grid;
    height: auto;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px auto 50px;
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer"
}

main{
    grid-area: main;
    display:grid;
    grid-template-columns:1fr 1fr;
    font-family:'Times New Roman', Times, serif;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header; 
    text-align: center;
    margin: 0;
}

h1{
    margin: 0;
}

nav{
    grid-area: nav;
    margin: 0;
}

nav li{
    list-style-type: none;
    text-align: center;
    font-size: 1em;
    border-style: solid;
    border-color: black;
    margin: 0;
}

nav a{
    text-decoration: none;
    width: 10%;
}

nav a:hover{
    color:blue;
}

ul{
    padding: 0;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
}

a{
    text-decoration: none;
}

footer{
    grid-area: footer;
    text-align: center;
    background-color: #223;
    color: #ffffff;
    
}

footer p{
    margin: 1rem;
}

img{
    display: flex;
    width: 50%;
    max-width: 50%;
    height: auto;
    margin-left: 50%;

}

p{
    margin:0;
    font-size: large;
}

#index section{
    display: main;
    text-align: left;
    margin-left: 10px;
}

@media (max-width: 600px) {
    nav ul{
        flex-direction: column;
    }
}

#tvåtakt img{
    width: 23%;
    margin: 0;
    display: inline;
}

#tvåtaktGoN img{
    margin-left: 15em;
}

#tvåtaktGoN p{
    text-align: center;
}